.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: center;
  color: #ffa45c;
}





.title {
    font-size: 28px;
    margin-bottom: 25px;
}
 .preview {
    display: flex;
    margin: 0 auto;

  }


@media screen and(max-width: 650px) {
  .collection-preview{
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }

  .preview {
    display: grid;
    width: 90vw;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(255px,1fr) );
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
  }

}