.sign-in-and-sign-up {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

@media screen and(max-width: 650px) {
  .sign-in-and-sign-up{
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }

}