.card{
  width: fit-content;
  height: 400px;
}



.collection-item {
  width: 310px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px;
  box-sizing: border-box;
}
  

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button2 {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;

  }

.image:hover {
      background-color: #ffa45c;
    }

.custom-button:hover {

      display: flex;
      background-color: #ffa45c;
    }




    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 20%;
    }



.ff {
  color: #ffa45c;
  text-decoration: none;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}


span{
  text-decoration: none;
}