.awssld__content{
  background-color: #f8f9fa!important;
  height: fit-content;
}
.bg-grey{
  background-color: #f8f9fa!important ;
}
.awssld__controls__arrow-right:before {
  background-color: #ffa45c;
}

.awssld__controls__arrow-right:after {
  background-color: #ffa45c;
}
.awssld__controls__arrow-left:before {
  background-color: #ffa45c;
}

.awssld__controls__arrow-left:after {
  background-color: #ffa45c;
}
.awssld__box{
  height: fit-content;
}


.awssld--active{
  height: fit-content;
}

.awssld__bullets{
  position: unset;

}