.awssld__content{
  background-color:white !important;
}
.awssld__controls__arrow-right:before {
  background-color: #ffa45c;
}

.awssld__controls__arrow-right:after {
  background-color: #ffa45c;
}
.awssld__controls__arrow-left:before {
  background-color: #ffa45c;
}

.awssld__controls__arrow-left:after {
  background-color: #ffa45c;
}