.bg-discover{
  background-image: url("images/bg_2.jpg");
  background-size: cover;
  height: 740px;


}
body{
  padding: 10px !important;
}

.bg-ship{
  background-image: url("images/about.jpg");
}

.bg-about{
  background-image: url("images/bg_6.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.margin{
  margin-top: 80px;
}

.bg-new1{
  background-image: url("images/about-1.jpg");

}

.bg-new2{
  background-image: url("images/product-2.jpg");
};

.icon1{
  width: 30px;
  height:30px;
  position: absolute;
  left: 9px;
  top:9px;
}

.icon2{
  width: 30px;
  height:30px;

}

.flexing{
  display: flex;
  flex-direction: column;
}


.animate{
  animation: 1.6s ease;
}

.container2{
  background-color: #1a1a1a;
  width: 100%;
  display: flex;
  flex-flow: wrap;


}

.box{
  width: 100%;
margin: 10px;
  background-color: #0b2e13;
  height: 100px;
}

.bg4{
  background-image: url("images/bg_4.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.img1{
  width: 690px;
  height: 750px;
}
.single-product-section{
  margin-top: 150px;
}

.size{
  width: 100%;
  margin: 0 !important;
}

